.cart-container {
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.img-cart {
    width: 120px;
}

.cart-product-name {
    color: #f58a07;
    font-weight: 500;
}

#inputCartQuantity {
    max-width: 4rem;
}

.cart-total {
    background-color: #f58a07 ;
}

