.home-container {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.row-home {
    padding-top: 5rem;
    padding-bottom: 4rem;
    border-bottom: 1px ridge;
}

.img-home {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.home-paragraph {
    letter-spacing: 0.4px;
    line-height: 1.6rem;
}

